USE [BaseWarehouseManagement]
GO
/****** Object:  Table [dbo].[AssetHistory]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FixedAssetId] [int] NOT NULL,
	[PlaceForStorageDetailId] [int] NULL,
	[UserId] [int] NULL,
	[Note] [nvarchar](50) NULL,
	[OperationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AssetHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exception]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exception](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetTypeId] [int] NOT NULL,
	[FixedAssetId] [int] NULL,
	[BatchId] [int] NULL,
	[ExceptionTypeId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ExceptionStateId] [int] NOT NULL,
 CONSTRAINT [PK_Exception] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExceptionState]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExceptionState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExceptionType]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Problem] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExceptionType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FixedAsset]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedAsset](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[WarehouseRcordId] [int] NULL,
	[FixedAssetDetailId] [int] NULL,
 CONSTRAINT [PK_FixedAsset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FixedAssetDetail]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedAssetDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Specification] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FixedAssetDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ItemTypeId] [int] NOT NULL,
	[SafetyInventory] [int] NOT NULL,
	[Image] [nvarchar](100) NULL,
	[IsDelete] [bit] NOT NULL,
	[IsFixedAssets] [bit] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemTypeSon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintain]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintain](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Note] [nvarchar](50) NULL,
	[ExceptionId] [int] NOT NULL,
 CONSTRAINT [PK_Maintain] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForStorage]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForStorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_PlaceForStorage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForStorageDetail]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForStorageDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PlaceForStorageId] [int] NOT NULL,
 CONSTRAINT [PK_PlaceForStorageDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordType]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RecordType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReocordState]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReocordState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReocordState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TargetType]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TargetType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseRecords]    Script Date: 2026/6/25 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecordTypeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemCount] [int] NOT NULL,
	[Note] [nvarchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[FinishedTime] [datetime] NULL,
	[RecordStateId] [int] NOT NULL,
	[UserId] [int] NULL,
	[PlaceForStorageDetailId] [int] NULL,
	[Batch] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_FixedAsset] FOREIGN KEY([FixedAssetId])
REFERENCES [dbo].[FixedAsset] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_FixedAsset]
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_PlaceForStorageDetail] FOREIGN KEY([PlaceForStorageDetailId])
REFERENCES [dbo].[PlaceForStorageDetail] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_PlaceForStorageDetail]
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_User]
GO
ALTER TABLE [dbo].[Exception]  WITH CHECK ADD  CONSTRAINT [FK_Exception_Exception] FOREIGN KEY([BatchId])
REFERENCES [dbo].[WarehouseRecords] ([Id])
GO
ALTER TABLE [dbo].[Exception] CHECK CONSTRAINT [FK_Exception_Exception]
GO
ALTER TABLE [dbo].[Exception]  WITH CHECK ADD  CONSTRAINT [FK_Exception_ExceptionState] FOREIGN KEY([ExceptionStateId])
REFERENCES [dbo].[ExceptionState] ([Id])
GO
ALTER TABLE [dbo].[Exception] CHECK CONSTRAINT [FK_Exception_ExceptionState]
GO
ALTER TABLE [dbo].[Exception]  WITH CHECK ADD  CONSTRAINT [FK_Exception_ExceptionType] FOREIGN KEY([ExceptionTypeId])
REFERENCES [dbo].[ExceptionType] ([Id])
GO
ALTER TABLE [dbo].[Exception] CHECK CONSTRAINT [FK_Exception_ExceptionType]
GO
ALTER TABLE [dbo].[Exception]  WITH CHECK ADD  CONSTRAINT [FK_Exception_FixedAsset] FOREIGN KEY([FixedAssetId])
REFERENCES [dbo].[FixedAsset] ([Id])
GO
ALTER TABLE [dbo].[Exception] CHECK CONSTRAINT [FK_Exception_FixedAsset]
GO
ALTER TABLE [dbo].[FixedAsset]  WITH CHECK ADD  CONSTRAINT [FK_FixedAsset_FixedAssetDetail] FOREIGN KEY([FixedAssetDetailId])
REFERENCES [dbo].[FixedAssetDetail] ([Id])
GO
ALTER TABLE [dbo].[FixedAsset] CHECK CONSTRAINT [FK_FixedAsset_FixedAssetDetail]
GO
ALTER TABLE [dbo].[FixedAsset]  WITH CHECK ADD  CONSTRAINT [FK_FixedAsset_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[FixedAsset] CHECK CONSTRAINT [FK_FixedAsset_Item]
GO
ALTER TABLE [dbo].[FixedAsset]  WITH CHECK ADD  CONSTRAINT [FK_FixedAsset_WarehouseRecords] FOREIGN KEY([WarehouseRcordId])
REFERENCES [dbo].[WarehouseRecords] ([Id])
GO
ALTER TABLE [dbo].[FixedAsset] CHECK CONSTRAINT [FK_FixedAsset_WarehouseRecords]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemType] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[ItemType] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemType]
GO
ALTER TABLE [dbo].[PlaceForStorageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorage] FOREIGN KEY([PlaceForStorageId])
REFERENCES [dbo].[PlaceForStorage] ([Id])
GO
ALTER TABLE [dbo].[PlaceForStorageDetail] CHECK CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorage]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_Item]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_RecordType] FOREIGN KEY([RecordTypeId])
REFERENCES [dbo].[RecordType] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_RecordType]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_ReocordState] FOREIGN KEY([RecordStateId])
REFERENCES [dbo].[ReocordState] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_ReocordState]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_User]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_WarehouseRecords1] FOREIGN KEY([PlaceForStorageDetailId])
REFERENCES [dbo].[PlaceForStorageDetail] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_WarehouseRecords1]
GO
