USE [BaseWarehouseManagement]
GO
/****** Object:  Table [dbo].[AssetHistory]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FixedAssetId] [int] NOT NULL,
	[PlaceForStorageDetailId] [int] NULL,
	[UserId] [int] NULL,
	[Note] [nvarchar](50) NULL,
	[OperationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AssetHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FixedAsset]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedAsset](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[IsDelete] [bit] NULL,
	[WarehouseRcordId] [int] NULL,
 CONSTRAINT [PK_FixedAsset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FixedAssetDetail]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedAssetDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Specification] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FixedAssetDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HazardRecordDetail]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HazardRecordDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hint] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HazardRecordDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HazardState]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HazardState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HazardState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Code] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Batch] [int] NOT NULL,
	[UserId] [int] NULL,
	[WarehouseRecordId] [int] NOT NULL,
 CONSTRAINT [PK_Inventory_1] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ItemTypeId] [int] NULL,
	[SafetyInventory] [int] NULL,
	[Image] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
	[IsFixedAssets] [bit] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAndState]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAndState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[HazardRecordDetailId] [int] NOT NULL,
	[HazardStateId] [int] NULL,
 CONSTRAINT [PK_ItemAndState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemTypeSon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForStorage]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForStorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_PlaceForStorage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForStorageDetail]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForStorageDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StateId] [int] NOT NULL,
	[PlaceForStorageId] [int] NOT NULL,
 CONSTRAINT [PK_PlaceForStorageDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceForStorageDetailState]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceForStorageDetailState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PlaceForStorageDetailState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordType]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RecordType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReocordState]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReocordState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReocordState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseRecords]    Script Date: 2026/6/24 15:48:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecordTypeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemCount] [int] NOT NULL,
	[Note] [nvarchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[FinishedTime] [datetime] NULL,
	[RecordStateId] [int] NOT NULL,
	[UserId] [int] NULL,
	[PlaceForStorageDetailId] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Batch] [int] NULL,
 CONSTRAINT [PK_WarehouseRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetHistory] ON 

INSERT [dbo].[AssetHistory] ([Id], [FixedAssetId], [PlaceForStorageDetailId], [UserId], [Note], [OperationTime]) VALUES (1, 1, 1, NULL, NULL, CAST(N'2026-06-21T02:05:36.020' AS DateTime))
INSERT [dbo].[AssetHistory] ([Id], [FixedAssetId], [PlaceForStorageDetailId], [UserId], [Note], [OperationTime]) VALUES (2, 2, 1, NULL, NULL, CAST(N'2026-06-21T02:05:36.047' AS DateTime))
INSERT [dbo].[AssetHistory] ([Id], [FixedAssetId], [PlaceForStorageDetailId], [UserId], [Note], [OperationTime]) VALUES (3, 3, 1, NULL, NULL, CAST(N'2026-06-21T02:05:36.050' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AssetHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[FixedAsset] ON 

INSERT [dbo].[FixedAsset] ([Id], [Code], [ItemId], [IsDelete], [WarehouseRcordId]) VALUES (1, N'2026621000001', 1, 0, 1)
INSERT [dbo].[FixedAsset] ([Id], [Code], [ItemId], [IsDelete], [WarehouseRcordId]) VALUES (2, N'2026621000001', 1, 0, 1)
INSERT [dbo].[FixedAsset] ([Id], [Code], [ItemId], [IsDelete], [WarehouseRcordId]) VALUES (3, N'2026621000002', 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[FixedAsset] OFF
GO
SET IDENTITY_INSERT [dbo].[HazardRecordDetail] ON 

INSERT [dbo].[HazardRecordDetail] ([Id], [Hint]) VALUES (1, N'仓库库存数低于安全库存')
INSERT [dbo].[HazardRecordDetail] ([Id], [Hint]) VALUES (2, N'需要维护')
INSERT [dbo].[HazardRecordDetail] ([Id], [Hint]) VALUES (3, N'已过期')
SET IDENTITY_INSERT [dbo].[HazardRecordDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[HazardState] ON 

INSERT [dbo].[HazardState] ([Id], [Name]) VALUES (1, N'未处理')
INSERT [dbo].[HazardState] ([Id], [Name]) VALUES (2, N'正在处理中')
INSERT [dbo].[HazardState] ([Id], [Name]) VALUES (3, N'已处理')
SET IDENTITY_INSERT [dbo].[HazardState] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Name], [ItemTypeId], [SafetyInventory], [Image], [IsDelete], [IsFixedAssets]) VALUES (1, N'选手机箱', 2, 15, NULL, 0, 1)
INSERT [dbo].[Item] ([Id], [Name], [ItemTypeId], [SafetyInventory], [Image], [IsDelete], [IsFixedAssets]) VALUES (2, N'比赛显示屏', 2, 20, NULL, 0, 1)
INSERT [dbo].[Item] ([Id], [Name], [ItemTypeId], [SafetyInventory], [Image], [IsDelete], [IsFixedAssets]) VALUES (3, N'鼠标', 2, 100, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemType] ON 

INSERT [dbo].[ItemType] ([Id], [Name]) VALUES (2, N'电子类')
INSERT [dbo].[ItemType] ([Id], [Name]) VALUES (3, N'工艺品类')
INSERT [dbo].[ItemType] ([Id], [Name]) VALUES (5, N'工具类')
SET IDENTITY_INSERT [dbo].[ItemType] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceForStorage] ON 

INSERT [dbo].[PlaceForStorage] ([Id], [Name], [Image]) VALUES (1, N'A货架区', N'A.png')
INSERT [dbo].[PlaceForStorage] ([Id], [Name], [Image]) VALUES (2, N'B货架区', N'B.png')
INSERT [dbo].[PlaceForStorage] ([Id], [Name], [Image]) VALUES (3, N'C货架区', N'C.png')
SET IDENTITY_INSERT [dbo].[PlaceForStorage] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceForStorageDetail] ON 

INSERT [dbo].[PlaceForStorageDetail] ([Id], [Name], [StateId], [PlaceForStorageId]) VALUES (1, N'第一层', 2, 1)
INSERT [dbo].[PlaceForStorageDetail] ([Id], [Name], [StateId], [PlaceForStorageId]) VALUES (2, N'第三层', 1, 2)
INSERT [dbo].[PlaceForStorageDetail] ([Id], [Name], [StateId], [PlaceForStorageId]) VALUES (3, N'第三层', 1, 3)
SET IDENTITY_INSERT [dbo].[PlaceForStorageDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceForStorageDetailState] ON 

INSERT [dbo].[PlaceForStorageDetailState] ([Id], [Name]) VALUES (1, N'已满')
INSERT [dbo].[PlaceForStorageDetailState] ([Id], [Name]) VALUES (2, N'为空')
SET IDENTITY_INSERT [dbo].[PlaceForStorageDetailState] OFF
GO
SET IDENTITY_INSERT [dbo].[RecordType] ON 

INSERT [dbo].[RecordType] ([Id], [Name]) VALUES (1, N'出库')
INSERT [dbo].[RecordType] ([Id], [Name]) VALUES (2, N'入库')
SET IDENTITY_INSERT [dbo].[RecordType] OFF
GO
SET IDENTITY_INSERT [dbo].[ReocordState] ON 

INSERT [dbo].[ReocordState] ([Id], [Name]) VALUES (1, N'未完成')
INSERT [dbo].[ReocordState] ([Id], [Name]) VALUES (2, N'已完成')
INSERT [dbo].[ReocordState] ([Id], [Name]) VALUES (3, N'已删除')
SET IDENTITY_INSERT [dbo].[ReocordState] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'管理员')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'普通用户')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Password], [RoleId]) VALUES (1, N'测试用户1', N'123123123', 2)
INSERT [dbo].[User] ([Id], [Name], [Password], [RoleId]) VALUES (2, N'测试用户2', N'123456', 2)
INSERT [dbo].[User] ([Id], [Name], [Password], [RoleId]) VALUES (4, N'测试用户3', N'111111', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseRecords] ON 

INSERT [dbo].[WarehouseRecords] ([Id], [RecordTypeId], [ItemId], [ItemCount], [Note], [CreateTime], [EndTime], [FinishedTime], [RecordStateId], [UserId], [PlaceForStorageDetailId], [IsDelete], [Batch]) VALUES (1, 2, 1, 20, N'', CAST(N'2026-06-21T11:18:19.420' AS DateTime), CAST(N'2026-06-21T11:18:11.477' AS DateTime), NULL, 4, 5, 1, 0, 1)
INSERT [dbo].[WarehouseRecords] ([Id], [RecordTypeId], [ItemId], [ItemCount], [Note], [CreateTime], [EndTime], [FinishedTime], [RecordStateId], [UserId], [PlaceForStorageDetailId], [IsDelete], [Batch]) VALUES (2, 2, 2, 40, NULL, CAST(N'2026-06-21T10:05:37.743' AS DateTime), CAST(N'2026-06-21T10:05:37.743' AS DateTime), CAST(N'2026-06-21T10:05:37.743' AS DateTime), 2, 5, 1, 0, 1)
INSERT [dbo].[WarehouseRecords] ([Id], [RecordTypeId], [ItemId], [ItemCount], [Note], [CreateTime], [EndTime], [FinishedTime], [RecordStateId], [UserId], [PlaceForStorageDetailId], [IsDelete], [Batch]) VALUES (3, 2, 3, 120, NULL, CAST(N'2026-06-21T10:05:37.907' AS DateTime), CAST(N'2026-06-21T10:05:37.907' AS DateTime), CAST(N'2026-06-21T10:05:37.907' AS DateTime), 2, 5, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[WarehouseRecords] OFF
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_FixedAsset] FOREIGN KEY([FixedAssetId])
REFERENCES [dbo].[FixedAsset] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_FixedAsset]
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_PlaceForStorageDetail] FOREIGN KEY([PlaceForStorageDetailId])
REFERENCES [dbo].[PlaceForStorageDetail] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_PlaceForStorageDetail]
GO
ALTER TABLE [dbo].[AssetHistory]  WITH CHECK ADD  CONSTRAINT [FK_AssetHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AssetHistory] CHECK CONSTRAINT [FK_AssetHistory_User]
GO
ALTER TABLE [dbo].[FixedAsset]  WITH CHECK ADD  CONSTRAINT [FK_FixedAsset_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[FixedAsset] CHECK CONSTRAINT [FK_FixedAsset_Item]
GO
ALTER TABLE [dbo].[FixedAsset]  WITH CHECK ADD  CONSTRAINT [FK_FixedAsset_WarehouseRecords] FOREIGN KEY([WarehouseRcordId])
REFERENCES [dbo].[WarehouseRecords] ([Id])
GO
ALTER TABLE [dbo].[FixedAsset] CHECK CONSTRAINT [FK_FixedAsset_WarehouseRecords]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemType] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[ItemType] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemType]
GO
ALTER TABLE [dbo].[ItemAndState]  WITH CHECK ADD  CONSTRAINT [FK_ItemAndState_HazardState] FOREIGN KEY([HazardStateId])
REFERENCES [dbo].[HazardState] ([Id])
GO
ALTER TABLE [dbo].[ItemAndState] CHECK CONSTRAINT [FK_ItemAndState_HazardState]
GO
ALTER TABLE [dbo].[ItemAndState]  WITH CHECK ADD  CONSTRAINT [FK_ItemAndState_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ItemAndState] CHECK CONSTRAINT [FK_ItemAndState_Item]
GO
ALTER TABLE [dbo].[ItemAndState]  WITH CHECK ADD  CONSTRAINT [FK_ItemAndState_ItemState] FOREIGN KEY([HazardRecordDetailId])
REFERENCES [dbo].[HazardRecordDetail] ([Id])
GO
ALTER TABLE [dbo].[ItemAndState] CHECK CONSTRAINT [FK_ItemAndState_ItemState]
GO
ALTER TABLE [dbo].[PlaceForStorageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorage] FOREIGN KEY([PlaceForStorageId])
REFERENCES [dbo].[PlaceForStorage] ([Id])
GO
ALTER TABLE [dbo].[PlaceForStorageDetail] CHECK CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorage]
GO
ALTER TABLE [dbo].[PlaceForStorageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorageDetailState] FOREIGN KEY([StateId])
REFERENCES [dbo].[PlaceForStorageDetailState] ([Id])
GO
ALTER TABLE [dbo].[PlaceForStorageDetail] CHECK CONSTRAINT [FK_PlaceForStorageDetail_PlaceForStorageDetailState]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_Item]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_RecordType] FOREIGN KEY([RecordTypeId])
REFERENCES [dbo].[RecordType] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_RecordType]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_ReocordState] FOREIGN KEY([RecordStateId])
REFERENCES [dbo].[ReocordState] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_ReocordState]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_User]
GO
ALTER TABLE [dbo].[WarehouseRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseRecords_WarehouseRecords1] FOREIGN KEY([PlaceForStorageDetailId])
REFERENCES [dbo].[PlaceForStorageDetail] ([Id])
GO
ALTER TABLE [dbo].[WarehouseRecords] CHECK CONSTRAINT [FK_WarehouseRecords_WarehouseRecords1]
GO
